{{define "base"}}
<!doctype html>
<html>
  <head>
{{template "headtag" .}}
  </head>
  <body>
    <h1 class="ui center aligned header">Translate</h1>
    <h2 class="ui center aligned header">en&nbsp;<i class="exchange icon"></i>&nbsp;ja</h2>
    <div class="main ui container">
      <form class="ui segment" method="POST">
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Text</label>
              <div class="ui input">
                <input id="message" name="message" type="text">
              </div>
            </div>
            <div class="field">
              <div id="submit" class="ui green button submitbutton" onclick="SubmitForm('sendmessage');">Translate</div>
            </div>
          </div>
        </div>
        <input id="action" type="hidden" name="action" value="sendmessage">
      </form>
    </div>
    <div id="warning" class="ui hidden warning message"></div>
    <div id="info" class="ui hidden info message">
      <p id="result"></p>
    </div>
  </body>
</html>
{{end}}
